
.weather-app {
  background: url('/public/weather.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* image retrieved from Photo by Johannes Plenio from Pexels: https://www.pexels.com/photo/island-during-golden-hour-and-upcoming-storm-1118873/ */
.weather-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.weather-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.weather-card img {
  width: 100px;
}

.weather-card p {
  margin: 5px 0;
}

.weather-card .temperature {
  font-size: 2.5em;
  font-weight: bold;
}

@media (max-width: 600px) {
  .weather-card {
    width: 90%;
    padding: 15px;
  }

  .weather-card img {
    width: 80px;
  }

  .weather-card .temperature {
    font-size: 2em;
  }
}
